<p>form works!</p>

<div class="card bg-dark text-white">
  <div class="card-header">{{title}}</div>
  <div class="card-body">

    <form  >
      <div class="form-group">
        <label for="nombre" class="col-form-label col-sm-2">Titulo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="noticia.titulo"  name="titulo">

        </div>
      </div>

      <div class="form-group">
        <label for="apellido" class="col-form-label col-sm-2">Descripcion</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="noticia.descripcion" name="descripcion" >
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-form-label col-sm-2">Resumen</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="noticia.resumen" name="resumen" >
        </div>
      </div>





      <div class="form-group row">
        <div class="col-sm-6">
          <button type="button" name="button" class="btn btn-primary" (click)='create()' role="button" name="button"  >Crear</button>
        </div>
      </div>

    </form>

  </div>
</div>
